@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Robot;
  src: url("./Mr_Robot/MR\ _ROBOT.ttf") format("truetype");
 }

.Robot{
  font-family: Robot;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    height: 100%;
    width: 100%;
}

.background-glow{
  box-shadow: 0 0 50px 25px rgba(57, 75, 209, 0.7);
  transform: translate(-50%, -50%);
  transition: box-shadow 0.3s ease;
}

.no-cursor {
  cursor: none;
}

.cursor {
  cursor: default;
}

.nav-item {

  overflow: hidden;
}

.nav-item::after, .nav-item::before{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  inset: 0px;
  border-radius: inherit;
  background: radial-gradient(
    800px circle at var(--x-px) var(--y-px),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
}

.nav-item:hover {
  text-decoration: underline;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1)
}

.section-transition {
  background:linear-gradient(to bottom , #000000, rgb(92, 92, 92))
}

.typing-demo {
  width: 12ch;
  animation: typing 2s steps(12), blink .5s step-end infinite alternate;
  border-right: 3px solid;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2em;
}

.typing-demo1 {
  width: 9ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  font-family: monospace;
  font-size: 2em;
  
}

.typing-demo2 {
  width: 9ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  font-family: monospace;
  font-size: 2em;
}

.typing-demo3 {
  width: 7ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  font-family: monospace;
  font-size: 2em;
  
}

.typing-demo4 {
  width: 11ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.stuckBar {
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
}




.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media (min-width: 768px) {
  header h1 {
    font-size: 3rem;
  }
}

.tag-list {
  width: 30rem;
  max-width: 90vw;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.loop-slider .inner {
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  
  font-size: 0.9rem;
  
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
}

.tag span {
  font-size: 1.2rem;
  color: #64748b;
}

.fade {
  pointer-events: none;
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.section-transition2 {
  background: rgb(92, 92, 92)
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  
}

.card {
  width: 100%;
  height: 450px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow-x: none;
  background: linear-gradient(to top right, grey, black);
}


.techUsed {
  bottom: 5px;
  right: 0;
  left: 0;
  position: absolute;
  color: #202020;
  text-shadow: 
  0px 0px 1px #363636;
}

.projectName {
  transform: translateY(-20px);
}

.projectName::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  transform: translateY(10px);
  
}

.github {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  border-radius: 50%;
}

.github:hover {
  transform: scale(1.25);
  pointer-events: all;
}
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 0;
   left: 0;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; 
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }
 

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #d02828;
 }
 
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 
 #menu
 {
   position: absolute;
   width: 300px;
   padding: 50px;
   
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 

 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 #menuToggle.open ~ #menu {
  transform: translate(0, 0);
}